<html>
    <head>
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <!-- Leaflet javascript-->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

        <link rel="stylesheet" href="../css/map.css">
    </head>

    <body>
        <div id="map_sidebar">
            <img src="../assets/pathnode_icon.png">
            <p>test</p>
            <p>Another</p>
            <p>Other</p>
        </div>
        
        <div id="map"></div>
        <div id="debug_menu">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            
                <label for="coordX">X coordinate: </label>
                <input type="text" id="coordX" name="coordX">
            
                <label for="coordY">Y coordinate: </label>
                <input type="text" id="coordY" name="coordY">
                <button onclick="AddWaypoint()"> Add Waypoint </button>
            </div>
            

            <button onclick="GetWaypoint()"> Get Waypoint </button>
        </div>
        
        
    </body>

    <script>
        var imageUrl = '../maps/NGE_test.png';
        var imageBounds = [[0,0], [234,153]]; 
        const map = L.map('map').setView([0, 0], 13);
        const UserLayer = L.layerGroup().addTo(map);
        const PathLayer = L.layerGroup().addTo(map);
        const Overlays = {
            "Path Markers": PathLayer,
            "User Markers": UserLayer
        }
        L.imageOverlay(imageUrl, imageBounds).addTo(map);
        L.control.layers(null, Overlays).addTo(map);



        map.on('click', function(e) {
            var latlng = e.latlng; // Get the latitude and longitude of the clicked point
            console.log("You clicked at: " + latlng.lat + ", " + latlng.lng);

            // Optionally add a marker at the clicked position
            var newMarker = CreateUserMarker(latlng.lat, latlng.lng).addTo(map);
        });

        const PathNodes = [];
        
        function CreateUserMarker(lat, lng){
            var customIcon = L.icon({
                iconUrl: '../assets/marker.png',
                iconSize: [32, 43]
            });

            var marker = L.marker([lat, lng], { icon: customIcon }).addTo(map);
            //very cursed popup code for the sake of UI/UX
            marker.bindPopup(`
            <div>
                <p>I am a user generated marker!</p>
                <button onclick="alert('Button clicked!')">Clear Me</button>
                <button onclick="alert('Button clicked!')">Save Me</button>
            </div>
            `);
            return marker;
        }

        function AddWaypoint(){
            const name = document.getElementById('name').value;
            const coordX = document.getElementById('coordX').value;
            const coordY = document.getElementById('coordY').value;
            
            console.log(
                
                fetch(`http://localhost:5099/api/Waypoints`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        waypointName: name,
                        waypointType: "UserPin",
                        pointX: coordX,
                        pointY: coordY,
                        Building: 0, 
                        Floor: 1,
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(json => console.log(json))
                .catch(error => console.error('Error:', error))
            );
        }

        function GetWaypoint(){
                fetch(`http://localhost:5099/api/Waypoints`,{
                    method:'GET',
                    headers:{
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(markers => {
                    console.log(markers)
                    let count = 0
                    markers.forEach(marker => {
                    const { pointX, pointY, waypointName, waypointType } = marker; // Destructure the data

                    var customIcon = L.icon({
                        iconUrl: '../assets/pathnode_icon.png',
                        iconSize: [16, 16]
                    });
                    

                    if(waypointType == 'PathNode'){
                        PathNodes[count] = L.marker([pointX, pointY], { icon: customIcon }).addTo(map)
                        .bindPopup(`<b>${waypointName}</b>`);
                        PathLayer.addLayer(PathNodes[count]);
                    }else{
                        var usermarker = CreateUserMarker(pointX, pointY);
                        UserLayer.addLayer(usermarker);
                    }
                    
                    count++
                    });
                })

                for(node in PathNodes){
                    console.log('Node #${index}: ${node}')
                }
        }
    </script>
</html>